<footer>
	<div class="footer-logo">
		<a class="logo-footer" href="/">OtakuPort</a>
		<p>&copy; 2018 by OtakuPort. All rights reserved.</p>
	</div>
	<div class="footer-nav">
		<ul>
			<li><a href="/">HOME</a></li>
			<li><a href="/news">NEWS</a></li>
			<li><a href="/blog">BLOG</a></li>
			<li><a href="/review">REVIEWS</a></li>
			<li><a href="/privacy">T&C</a></li>
		</ul>
	</div>
</footer>