	<footer style="display: none;">
    <div class="container">
      <div class="row">
        <p><a href="#">CREDITS</a> | <a href="#">PRIVACY</a> | <a href="#">OUR TEAM</a></p>
      </div>
    </div>
  </footer>

	<footer>
		<div class="row">
		    <div class="col-md-6 col-sm-12">
				<ul class="footer-nav">
					<li><a class="logo-footer" href="/">OtakuPort</a></li>
					<p>&copy; 2017 by OtakuPort. All rights reserved.</p>
				</ul>
			</div>

			<div class="col-md-6 col-sm-12">
				<ul class="footer-nav">
					<li><a href="/">HOME</a></li>
					<li><a href="/news">NEWS</a></li>
					<li><a href="/blog">BLOG</a></li>
					<li><a href="/review">REVIEWS</a></li>
					<!-- <li><a href="/revisited">REVISITED</a></li> -->
				</ul>
			</div>

			<div class="col-md-4 col-sm-6">
				<ul class="social-links">
					<!-- <li><a href="#"><i class="ion-social-facebook"></i></a></li>
					<li><a href="#"><i class="ion-social-twitter"></i></a></li>
					<li><a href="#"><i class="ion-social-googleplus"></i></a></li>
					<li><a href="#"><i class="ion-social-instagram"></i></a></li> -->
				</ul>
			</div>
		</div>

		<!-- <div class="row"> -->
			<!-- <p>© &copy; 2017 by OtakuPort. All rights reserved.</p> -->
		<!-- </div> -->
	</footer>

</body>

</html>