<!DOCTYPE html>

<html>

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no"> <!-- user-scalable=no -->


    <link rel="icon" href="/uploads/images.jpeg" style="background: transparent;">

    <title><%= title %></title>

    <meta name="description" content="<%= (typeof meta_desc != "undefined" ? meta_desc : "") %>" >

    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900|Poppins:400,700,900|Rajdhani:400,700|Roboto:400,700,900" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Compiled and minified CSS -->

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">

    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>

    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113143898-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-113143898-1');
    </script>

  </head>

  <body>

    <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.11&appId=1844681152465909&autoLogAppEvents=1';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<header class="header-container">

    <div class="logo">
       <a href="/">OtakuPort</a>
    </div>

    <nav>
    <ul class="nav-left">
         <li><a href="/">HOME</a></li>
         <li><a href="/news" title=”Watches”>NEWS</a></li>
         <li><a href="/blog">BLOG</a></li>
         <li><a href="/review">REVIEWS</a></li>
    </ul>

    <ul class="nav-right">
        <li><a href="/about">ABOUT</a></li>
        <li><a href="/contact">CONTACT</a></li>
    </ul>
  </nav>

</header>


  <!-- <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script> -->

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <script type="text/javascript" src="/js/myScripts.js"></script>
