<% include partials/header %>

<div class="container about-container">

    <div class="row">

            <h1>Welcome to Otaku Report</h1>

            <p>OtakuPort is your one stop for anime culture. We present the hottest and the latest in the anime world. We cover anime news, opinions, reviews and revisit your favourite anime series. Our audience ranges from 15 - 49 and are hardcore anime fans. Our team of influential and expert writers provide in-depth reviews/opinions about your favourite anime.</p>

            <p>OtakuPort is dedicated to providing the latest and the most exciting anime content to our audience. We welcome your opnions and feedback. Reach us out at our <a href="/contact">Contact</a> Page</p>

            <p></p>

        </div>

    <!-- </div> -->

</div>

<% include partials/footer %>









