<% include partials/header %>

<div id="contact-page">
    <img src="https://images8.alphacoders.com/508/508520.jpg">
</div>

<div class="container contact-container">

    <div class="row">

        <!--<div class="col-md-12">-->

            <h1>Contact us</h1>


            <p> If you have any queries, questions or messages, send an email to Eknoorpreet Singh, the head editor of OtakuPort, at <a href="mailto:eknoorpreet2@gmail.com" style="color: #dc4225;">eknoorpreet2@gmail.com</a></p>

        <!--</div>-->

    </div>

</div>

<% include partials/footer %>
