@media all and (max-width:1100px) {

	.featured-news-img-container h3.featured-news-caption,.featured-news-img-container-1 h3.featured-news-caption {
		font-size: 24px;
	}

	/*MAIN NEWS PAGE*/

	

	#main-news-img img, #main-review-img img {
		margin-left: 0px;
    }

    .main-other:nth-of-type(4) {
    	margin-top: -300px;
    }

	.news-container,.review-container {
		margin-left: 0px;
	}

	.thumbnail-related  {
		max-width: 100%;
	}

	.col-md-3.related-posts-news>.trending {
		max-width: 100%;
    	margin-left: -50px;
	}

	#container-more>.more-section>.thumbnail {
		width: 270px;
	}

	#container-more>.more-section>.caption {
		width: 270px;
	}

	#container-more>.more-section {
		margin-right: -25px;
	}

	#main-blog-title, h1#main-revisited-title {
        font-size: 40px;
        font-weight: 700;
        text-align: center;
        text-shadow: 2px 2px rgba(0,0,0,0.3);
        /*margin-top: -75px;*/
	}

}