@media only screen and (max-width: 1200px) {

	/*MAIN NEWS PAGE*/

    .latest4 {
        margin-left: -5px;
    }


	#main-1 {
		max-width: 110%;
	}

	#main-1 img {
		max-width: 110%;
	}

	.main-other  {
		max-width: 110%;
	}

	.main-other img {
		max-width: 110%;
	}

	.news-container,.review-container {
		/*margin-left: 50px;*/
	}

    /*.col-md-9 {
        width: 70%;
    }*/

    #main-news-img, #main-review-img {
        /*margin-left: -50px;*/
        /*width: 100%;*/
    }

	#main-news-img img, #main-review-img img {
		/*margin-left: -50px;*/
        /*width: 100%;*/
    }

    .container {
        max-width: 100%;
    }

    .blog-section {
    	display: block;
    }

    .blog-section-laptop-container,.blog-section-laptop {
    	/*display: block;*/
    }

    .blog-section-laptop>.thumbnail {
    	/*display: flex;*/
    	/*flex-wrap: wrap;*/
    	/*flex-basis: 300px;*/
    	clear: left;
    }

    .blog-section-laptop {
    	width: auto;
    }

    img {
      width: inherit;   /*This makes the next two lines work in IE8. */
      max-width: 100%; /* Add !important if needed. */
      height: auto;    /* Add !important if needed. */
    }

    .news-section-laptop,.blog-section-laptop {
        /*width: 500px;*/
    }

    hr.style7 {
        max-width: 500px;
    }

    .blog-section-laptop>.caption {
        margin-top: 35px; /*make it workable in >320px*/
    }

    .featured-news-img-container,.featured-news-img-container-1 {
        /*max-width: 250px;*/
    }

    .featured-news-img-container,.featured-news-img-container-1 h1 {
        /*font-size: 21px;*/
    }

    .featured-news-img-container-top {
        /*margin-left: 580px;*/
    }

    .wrapper {
        /*max-width: 850px; */
    }

    .overlay h1 {
        word-spacing: 4px;
        margin: 20px auto;
        left: 20px;
        padding-top: 20px;
        bottom: -5px;
        top: -5px;
        width: 90%;
        font-size: 30px;
        line-height: 1;
}

    .news-summary, .review-summary {
        margin-top: 0px;
        /*margin-left: -50px;*/
	}

    #main-news-content,#main-review-content {
        max-width: 100%;
	}

	.thumbnail-related  {
		max-width: 100%;
	}

    .col-md-3>.related-posts-news>.trending {
    	max-width: 100%;
    	margin-left: 0px;
	}


	/*FEATURED BLOG*/

	#wrapper img {
        height: 100%;
	}

	#overlay {
	  padding: 20px;
	  width: 100%;
	  max-width: 100%;
	  top: 0;
	}

	#overlay h1 {
        padding-top: 200px;
        max-width: 100%;
	}

	#overlay .container {  /*try space b/w overlay and .container*/
        margin-left: 290px;
        height: 100px;
        /*width: 700px;*/
        max-width: 100%;
	}

	h1#main-blog-title, h1#main-revisited-title {
        font-size: 40px;
        font-weight: 700;
        text-align: center;
        text-shadow: 2px 2px rgba(0,0,0,0.3);
        /*margin-top: -75px;*/
	}

}