@media only screen and (max-width: 640px) {

    /*LANDING PAGE*/

    #main-1.thumbnail, .latest5 {
        height: 260px;
    }

    #main-1 h2 {
        font-size: 26px;
    }

    .main-other img.img-responsive {
        height: 112%;
    }

    .main-other {
        height: 220px;
    }

    .news-section-laptop>.thumbnail, .news-section-laptop>.thumbnaila>img, .blog-section-laptop>.thumbnaila>img, .blog-section-laptop>.thumbnail>img {
        height: 80px; 
    }

    .news-section-laptop>.caption>a>h1, .blog-section-laptop>.caption>a>h1 {
        font-size: 16px; 
    }

    .news-section-laptop>.relative {
        height: 45px; 
    }

    .img.wrapper {
        width: 100%;
    }

    .featured-blog>.wrapper>.overlay h1 {
        font-size: 21px;
    }

    .featured-author {
        font-size: 12px;
    }

    /*PARTICULAR NEWS PAGE*/

    #main-news-title, #main-review-title {
        font-size: 30px;
        width: 85%;
    }

    .post-type-news {
        font-size: 15px;
    }

    .news-summary, .review-summary {
        font-size: 18px;
    }

    .news-author, .review-author {
        font-size: 14px;
    }

    #main-news-img, #main-review-img {
        margin-left: -10px;
        width: 105%;
    }

    #main-news-img img, #main-review-img img {
        width: 100%;
    }

    .social-share {
        font-size: 16px;
    }

}