* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato";
}

.header-container {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  height: 80px;
  background-image: linear-gradient(to right, #FF512F, #DD2476);
}

.logo a {
        font-family: 'Avengeance';
        font-size: 30px;
        font-weight: normal;
        color: white;
        letter-spacing: 4px;
}

.nav-left, .nav-right {
  padding-top: 10px;
}

.nav-left {
  display: flex;
}

nav {
  list-style-type: none;
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
}

header ul li {
  display: inline-block;
  padding: 0 1.4em 0 0;
  font-size: 0.9em;   
}

header ul li a {
  text-decoration: none;
}

.nav-left li a, .nav-right li  a{
  color: white;
  font-size: 13px;
  padding-right: 15px;
  font-weight: 900;
}

.logo a:hover, .logo a:focus, ul a:hover, ul a:focus {
  color: black;
  text-decoration: none;
}

@font-face {
  font-family: 'Avengeance';
  src: url('/fonts/Ridge-Regular.otf') format("opentype"); /* IE9 Compat Modes */
  src: url('/fonts/AVENGEANCE HEROIC AVENGER AT.eot?#iefix') format('embedded-opentype'),
  url('/fonts/AVENGEANCE.ttf') format('truetype'),  /* Safari, Android, iOS */
  url('/fonts/mywebfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

.post {
  width: 10%;
  margin-top: 80px;
  margin-bottom: 25px;
  font-size: 30px;
  font-weight: 900;
  border: 5px solid #333333;
  box-shadow : 5px 5px #333333;
  font-style: italic;
  color: #333333;
  padding : 0 10px;
  text-align: center;
}

.more {
  width: 50%;
  margin-left: 4%;
}

.blog {
  display: flex;
  margin-left: 3.1%;
  width: 100%;
  margin-bottom: 20px;
}

.news > .non-feat,.feat {
  display: flex;
  flex-direction: column;
}

.news > .non-feat {
  width: 65%;
}

.news > .feat {
  width: 25%;
}

.article {
  display: flex;
  width: 100%;
  height: 175px;
  margin-bottom: 25px;
}

.article > .img {
  width: 40%;
  height: 175px;
}

.img {
  image-rendering: -webkit-optimize-contrast;
}

.article > .img img {
  width: 100%;
  height: 100%;
}

.title {
  width: 99%;
}

.title h2 {
  font-size: 22px;
  color: black;
  width: 95%;
  padding-left: 3%;
  font-weight: 900;
  margin-top: 10px;
  letter-spacing: 0.5px;
}

a:link,
a:visited {
  text-decoration: none;
  transition: color 0.2s;
}

.title > p {
  padding-left: 3%;
  font-style: italic;
}

.title > p a {
  text-decoration: none;
  color: #dc4225;
}

.author {
  color: #dc4225;
  text-decoration: none;
}

.thumbnail {
  border : 0px solid white;
}

.thumbnail > .img img{
  width: 90%;
  height: 180px;
}

.caption  h2 {
  font-size: 16px;
  word-spacing: 1px;
  padding-right: 10px;
  /*width: 98%;*/
  font-weight: 700;
}

.featured-article {
  display: flex;
  flex-direction: column;
}

.featured-article > .article {
  /*align-self: flex-end;*/
  margin-bottom: 25px;
  width: 100%;
  height: 375px;
}

.featured-article > .article > .img {
  background-image: linear-gradient(to right, #FF512F, #DD2476);
  position: relative;
  width: 100%;
  /*flex-basis: 100%;*/
  height: 375px;
}

.featured-article > .article > .img:before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: '';
  opacity: 0.6;
  pointer-events: none;
  background-image: linear-gradient(to right, #FF512F, #DD2476);
}

.featured-article > .article > .img h2 {
  position: absolute;
  left: 10px;
  bottom: 15%;
  font-size: 24px;
  padding: 10px;
  color: white;
  font-weight: 900;
  text-shadow: 0rem 0.1rem 0.2rem rgba(0,0,0,.8);
}

.featured-article > .article > .img > .featured-author {
  bottom: 5%;
  font-size: 700;
  font-size: 15px;
}

.post-type {
   /*z-index: 26;*/
   position: absolute;
   top: 10px;
   left: 10px;
   color: white;
   font-weight: 700;
   font-size: 12px;
   padding : 3px;
   border: 2px solid white;
   letter-spacing: 0.5px;
}

.post-type:hover {
        color: #F34235;
        border : 2px solid #F34235;
}

/*TOP LATEST*/

.parent {
  margin-top: 1px;
  width: 100vw;
  display: flex;
  margin-bottom: 50px;
}

.col {
  flex: 0 0 33.3vw;
  height: 40vw;
  border-right: 1px solid white;
}

.wrap {
  display: flex;
  flex-wrap: wrap;
}

.box {
  flex: 0 0 33.3vw;
  height: 20vw;
  border-right: 1px solid white;
}

.latest-colored {
  position: relative;
  height: 99.8%;
  /*background-image: linear-gradient(to right, #FF512F, #DD2476);*/
}

.latest-colored:before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: '';
  opacity: 0.6;
  background-image: linear-gradient(to right, #FF512F, #DD2476);
  pointer-events: none;
}

.latest-colored  h2 {
  position: absolute;
  color: white;
  left: 20px;
  bottom: 10px;
  right: 20px;
  font-weight: 900;
  text-shadow: 3px 3px rgba(0,0,0,0.3);
  letter-spacing: 0.4px;
}

.col > .latest-colored {
  font-size: 30px;
}

.wrap h2 {
  font-size: 24px;
  padding-right: 1%;
}

.latest-colored img {
  width: 99.9%;
  height: 100%;
}

/*3 COLUMN LAYOUT*/

.flex-grid {
    margin-left: 4%;
    display: flex;
    width: 88.2%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.flex-grid > .boxes {
  width: 30%;
  margin-bottom: 20px;
}

.flex-grid > .article {
  flex-direction: column;
}

.boxes img {
  width: 100%;
  height: 170px;
}

.boxes h2 {
  font-size: 22px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: 800;
  color: black;
}

.flex-grid + .feat {
  margin-left: 4%;
  width: 87.9%;
  height: 485px;
  height: 400px;
  margin-bottom: 50px;
}

.flex-grid + .feat > .featured-article > .article, .flex-grid + .feat > .featured-article > .article > .img {
  height: 485px;
  height: 400px;
}

.flex-grid + .feat > .featured-article h2 {
  word-spacing: 8px;
  left: 20px;
  bottom: 15%;
  width: 90%;
  font-size: 37px;
  line-height: 1.1;
  font-weight: 900;
}

.featured-author {
  position: absolute;
  left: 20px;
  bottom: 1%;
  font-size: 18px;
  padding: 10px;
  color: white;
  font-weight: 500;
  font-style: italic;
}

.news > .feat > .featured-article > .article > .img > .featured-author {
  left: 10px;
}

.featured-author a {
  color: white;
}

/*CREATE NEW ARTICLE*/

.jumbotron {
  text-align: center;
}

.form {
        width : 100%;
        padding: 10%;
}

.field {
  padding: 10px;
}

.field label {
        font-size: 22px;
}

.field input {
        width : 100%;
        padding: 7px;
}

.fb-comments {
  padding-left: 6.5%;
  width: 100%;
}

/*MAIN BLOG PAGE*/

.show-page {
  display: flex;
  width: 99%;
}

.blog-content {
  width: 70%;
  margin-left: 5%;
}

.blog-content img {
  width: 100%;
}

.trending-side {
  width: 30%;
}

.trending {
  width: 100%;
}

.trending > .article {
  flex-direction: column;
  height: 200px;
  margin-bottom: 30px;
  align-items: center;
}

.trending > .article >.title {
  width: 80%;
}

.trending > .article > .title a h3 {
  font-size: 17px;
  color: #333;
  font-weight: 800;
  margin-top: 7px;
}

.trending > .article > .img {
  width: 80%;
  height: 150px;
}

.trending > .post {
  width: 80%;
  margin-left: 33px;
}

.post-type-blog {
   position: absolute; 
   top: 100px;
   color: #dc4225;
   font-weight: 900; 
   font-size: 16px;
   padding : 3px;
   border-bottom: 2px solid black;
}

#main-blog-title {
  width: 90%;
  margin-top: 70px;
  font-size: 45px;
  font-weight: 900;
}

.blog-intro {
  font-size: 22px;
  color: #88888C;
  padding-right: 15px;
}

.blog-author {
  font-size: 16px;
}

/*SOCIAL SHARE BUTTONS*/
.social-share {
        margin-left: -10px;
        margin-top: 50px;
}

#fb-share, #twitter-share,#pin-share, #reddit-share {
        margin-left: 10px;
        padding : 7px 12px;
        border-radius: 0px;
        color: white;
        letter-spacing: 1px;
        font-size: 12px;
}

#fb-share {
        background-color: #284878;
        border : 1px solid #284878;
}

#fb-share i , #twitter-share i , #pin-share i, #reddit-share i {
        padding-right: 10px;
}

#twitter-share {
        background-color: #008EC4;
        border : 1px solid #008EC4;
}

#pin-share {
        background-color: #A61C21;
        border : 1px solid #A61C21;
}

#reddit-share {
        background-color: #FF5700;
        border : 1px solid #FF5700;
}

#main-blog-content {
        width: 100%;
        margin-top: 40px;
        padding-bottom: 40px;
        font-size: 20px;
        word-spacing: 2px;
}

#main-blog-content img {
        /*width : 800px;*/
        margin-bottom: 20px;
}

#main-blog-content blockquote {
  border-left: 5px solid #F8483C;
}

#main-blog-content h2 {
  font-weight: 900;
}

#main-blog-content p {
  width: 95%;
}

#main-blog-content p a {
  color: rgba(0,0,0,0.87);
  font-style: italic;
  border-bottom: 2px solid #f9493b;
  padding-bottom: 1px;
}

#main-blog-content p a:hover {
  color: rgba(0,0,0,0.87);
}

#fb-comments {
  width: 80%;
}

/*BLOG PAGE*/
#blog-page,#news-page,#review-page {
        color: white;
        height: 300px;
        background-image: url("https://s-media-cache-ak0.pinimg.com/originals/7f/a2/73/7fa273b8adf538153a5ca836e6b89ef8.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        margin-top: 150px;
        margin-left: 105px;
        margin-left: 4%;
        width: 88%;
        line-height: 1.3;
}

#news-page {
        background-image: url("http://img14.deviantart.net/14ec/i/2014/002/6/0/sword_art_online_ii_fan_made_wallpaper_by_legend_tony980-d70lkp6.png");
}

#review-page {
        background-image: url("https://images5.alphacoders.com/533/thumb-1920-533693.jpg");
}

.jumbotron h1 {
        padding-top: 70px;
        font-weight: 700;
        /*padding-top: 30%;*/
        text-align: center;
}

#blog-page>.post-type,#news-page>.post-type,#review-page>.post-type {
        top : 170px;
        left: 120px;
        left: 9%;
        font-size: 30px;
        font-weight: 800;
        border-style: none;
}



/*AUTHOR PAGE*/

.author-content {
  margin-top: 50px;
} 

.author-content > * {
  width: 80%;
  padding-left: 10%;
}

.author-content > .flex-grid {
  padding-left: 5%;
}

.author-bio {
  width: 100%;
}

.shape {
  width: 8.5rem;
  height: 8.5rem;
  float: left;
  clip-path: circle(50% at 50% 50%);
  -webkit-clip-path: circle(50% at 50% 50%);
  transform: translateX(-1rem);
}

.author-profile {
  padding-bottom: 40px;
}

.shape img {
  width: 100%;
  height: 100%;
}

.author-details {
  padding-left: 60px;
  width: 85%;
}

.author-name h3 {
  font-size: 17px;
  font-weight: 700;
  margin-top: 5px;
}

.author-bio p {
  color: #888;
  letter-spacing: 0.5px;
}

/*===========*/
/*ABOUT*/
/*===========*/

.about-container {
        width: 80%;
        margin-bottom: 150px;
}

.about-container>.row>h1 {
        margin-top :100px;
        font-size :45px;
        font-weight: 700;
}

.about-container>.row>p {
        font-size :20px;
}

.about-container>.row>p>a {
        color: #dc4225;
}

/*===========*/
/*CONTACT*/
/*===========*/

#contact-page {
        border-top: 1px solid white;
        text-align: center;
        color: white;
        height: 80%;
        background-repeat: no-repeat;
        background-position: center;
}

#contact-page img {
        width : 100%;
        height : 450px;
        height: 70%;
        margin-bottom: 50px;
}

.contact-container {
        margin-left : 300px;
        margin-left: 20%;
        width: 80%;
        margin-bottom: 150px;
}

.contact-container p {
        width: 80%;
        font-size: 21px;
}


.contact-container>.row>h1 {
        font-size: 45px;
        font-weight: 700;
}

/*ADMIN*/
.create-admin ul li h2 a {
  text-decoration: none;
  color: black;
}

/*===========*/
/*PRIVACY*/
/*===========*/

.privacy-container {
        margin-top: 100px;
}

.privacy-container>h1 {
        font-size: 40px;
        font-weight: 800;
}

.privacy-container>p {
        font-size: 15px;
        word-spacing: 2px;
}

.privacy-container>a:link,
.privacy-container>a:visited {
        color: blue;
}

/*FOOTER*/
footer {
  display: flex;
  background-image: linear-gradient(to right, #FF512F, #DD2476);
  margin: auto auto 0 auto;
  padding: 50px;
}

footer ul {
  list-style-type:  none;
}

.footer-logo {
  color: white;
  width: 60%;
}

.footer-nav {
  padding-top: 30px;
  width: 40%;
}

.footer-nav ul {
  display: flex;
}

.footer-nav ul li {
  padding-right: 15px;
}

.footer-nav ul li a {
  font-size: 13px;
  color: white;
  font-weight: 800;
}

.logo-footer {
  color: white;
  padding : 2px 10px 2px 10px;
  font-family: 'Avengeance';
  font-size: 50px;
  font-weight: normal;
  letter-spacing: 4px;
  text-shadow: 3px 3px rgba(0,0,0,0.3);
}

@media screen and (max-width: 1350px) and (-webkit-min-device-pixel-ratio:0) {
  .parent {
    margin-left: 6px;
  }
}

@media only screen and (max-width: 992px) {

  .latest-colored {
    border-bottom: 1px solid white;
  }

  .parent {
    flex-direction: column;
  }

  .col  {
    flex: auto;
    height: 50vh;
  }

  .col > .latest-colored h2{
    font-size: 25px;
  }

  .wrap h2 {
    font-size: 19px;
  }

  .wrap {
    flex-basis: 100%;
  }

  .wrap > .box {
    flex-basis: 50%;
    height: 25vw;
  }

  .post-type {
    font-size: 9px;
  }

  .news > .non-feat {
    width: 95%;
  }

  .blog {
    flex-direction: column;
  }

  .news > .feat {
    width: 103%;
    margin-left: -3.8%;
  }

  .flex-grid + .feat {
    height: 375px;
    margin-left: 1%;
    width: 99%;
  }

  .flex-grid + .feat > .featured-article > .article, .flex-grid + .feat > .featured-article > .article > .img {
    height:375px;
  }

  .news > .feat > .featured-article a h2, .flex-grid + .feat > .featured-article a h2 {
    word-spacing: 1px;
    left: 20px;
    bottom: 15%;
    width: 90%;
    font-size: 30px;
    line-height: 1.1;
    font-weight: 900;
  }

  .news > .feat > .featured-article > .article > .img > .featured-author {
    bottom: 5%;
    left: 20px;
  }

  .flex-grid > .boxes  {
    display: flex;
    width: 100%;
    margin-bottom: 25px;
    height: 175px;
  }

  .flex-grid > .boxes > .img {
    width: 47%;
    height: 77.5%;
    height: 100%;
  }

  .flex-grid > .boxes > .img img {
    height: 100%;
  }

  .article {
    width: 100%;
  } 

  .article > .img {
    width: 40%;
  } 

  .title a h2 {
    width: 100%;
  }

  /*PARTICULAR BLOG PAGE*/
  .trending-side {
    display: none;
  }

  .blog-content {
    width: 100%;
  }

  .show-page {
    width: 100%;
  }

  #main-blog-title {
    font-size: 30px;
  }

  #main-blog-img, #main-blog-content img {
    margin-left: -5.5%;
  }

  #main-blog-img {
    height: 250px;
  }

  #main-blog-img img {
    height: 100%;
  }


  #main-blog-content img {
    width: 111%;
  }

  /*BLOG PAGE*/
  #blog-page,#news-page,#review-page {
    width: 105%;
    margin-left: -5%;
  }

}

@media screen and (max-width: 900px) {
  /*.header-container  {
    flex-direction: column;
    height: 100px;
  }*/

  .nav-left li a, .nav-right li  a{
    padding-right: 10px;
    font-size: 10px;
  }

  .logo a {
    font-size: 26px;
  }

}

@media screen and (max-width: 768px) {
  .header-container  {
    flex-direction: column;
    height: 100px;
  }

  .logo a {
    text-align: center;
    display: block;
  }

  ul {
    margin-bottom: 0px;
  }

  .nav-left, .nav-right {
    padding-top: 0;
  }

  nav {
    justify-content: center;
  }

  .post-type-blog {
    top: 120px;
  }

  .news > .feat > .featured-article a h2, .flex-grid + .feat > .featured-article a h2 {
    font-size: 25px;
  }

  .more {
    width: 60%;
    font-size: 20px;
    padding: 1% 2%;
    word-spacing: 1px;
  }
}

@media only screen and (max-width: 640px) {
  .wrap {
    flex-direction: column;
    /*height: 50vw;*/
  }

  .wrap > .box {
    flex-basis: 100%;
    height: 50vw;
  }

  .box {
    border-bottom: 1px solid white;
  }

  .news > .feat {
    /*margin-left: -5.2%;*/
  }

  .flex-grid + .feat {
    height: 275px;
    margin-left: 2%;
    width: 98%;
  }

  .flex-grid + .feat > .featured-article > .article, .flex-grid + .feat > .featured-article > .article > .img {
    height: 275px;
  }

  .news > .feat > .featured-article > .article, .news > .feat > .featured-article > .article > .img {
    height: 275px;
  }

  /*MAIN BLOG PAGE*/

  #main-blog-title {
    font-size: 30px;
  }

  .blog-intro {
    font-size: 15px;
  }

  .blog-author {
    font-size: 12px;
  }

  .post-type-blog {
    font-size: 14px;
  }

  /*BLOG PAGE*/
  #blog-page,#news-page,#review-page {
    height: 250px;
  }

  /*AUTHOR PAGE*/
  .author-details {
    width: 100%;
  }

  .author-profile {
    width: 95%;
  }

  footer {
    flex-direction: column;
    align-items: center;
  }

  .footer-logo, .footer-nav ul {
    text-align: center;
  }

  .footer-logo {
    width: 100%;
  }

  .logo-footer {
    font-size: 30px;
  }

  .footer-nav ul {
    justify-content: center;
  }

  .footer-nav ul li a {
    font-size: 10px;
  }

  .footer-nav {
    width: 100%;
  }

}

@media only screen and (max-width: 480px) {

  .post {
    font-size: 22px;
  }

  .blog {
    margin-left: 0;
  }

  .article {
    width: 100%;
    height: 110px;
  }

  .news > .feat {
    width: 108.6%;
  }

  .news > .feat {
    width: 104.5%;
    margin-left: -1%;
  }

  .news > .feat > .featured-article a h2, .flex-grid + .feat > .featured-article a h2 {
    font-size: 20px;
  }

  .news > .feat > .featured-article > .article > .img > .featured-author {
    bottom: 1%;
    font-size: 13px;
  }

  .flex-grid > .boxes {
    height: 110px;
  }

  .flex-grid + .feat > .featured-article a h2 {
    bottom: 20%;
  }

  .flex-grid + .feat > .featured-article > .article > .img > .featured-author {
    bottom: 1%;
    font-size: 13px;
  }

  .non-feat > .article:not(:last-child) {
    border-bottom: 2px solid #333;
  }

  .flex-grid > .boxes:not(:last-child) {
    border-bottom: 2px solid #333;
  }

  .article > .img {
    width: 40%;
    height: 100%;
    height: 70%;
  }

  .flex-grid > .boxes {
    margin-bottom: 18px;
  }

  .flex-grid > .boxes > .img {
    height: 72%;
  }

  .title a h2 {
    font-size: 14px;
    margin-top: 2px;
  }

  .title p {
    font-size: 12px;
  }

  .more {
    width: 85%;
  }

  .contact-container>.row>h1 {
        font-size: 30px;
  }

  #main-blog-content p, .about-container p, .contact-container p {
    /*font-size: 15px;*/
  }
}

@media only screen and (max-width: 360px) {

  .news > .feat {
    width: 106%;
  }

  #fb-share, #twitter-share, #pin-share, #reddit-share {
    padding: 5px 6px;
    margin-left: 8px;
  }

  .col > .latest-colored h2 {
    font-size: 20px;
    letter-spacing: 1px;
  }

  .wrap h2 {
    font-size: 15px;
    letter-spacing: 1px;
  }

}